/*primer aporte de el ptoyecto */

body{
  font-family: Serif;
  background-color: #1E2025;
  margin: 0;
}

/*Estilos para la barra de navegacion*/

.principal{
  padding-bottom: 20px;
}

.img img{
  margin-top: 40px;
  padding-left: 60px;
  width: 10em;

}

.opciones {
  height:50px;
  background-color: #26282d;
  margin-top: 20px;
}

.lista{
  padding-top: 20px;
  margin: 0;
  background-color: #26282d;
  list-style: none;
  display: flex;
  gap: 30px;
  letter-spacing: 1px;
  font-weight: 700;
}

.lista a{
  font-size: 14px;
  color: #00B3A4;
  text-decoration: none;
}

.lista a:hover{
  color: #ffffff;
}


.lista a:active{
  color: #ffffff;
}



/*Estilos para el apartado de descripcion*/

/*Estilos para el formato de listas con imagenes*/
.descripcion {
  height: 350px;
  margin-top: 40px;
  margin-bottom: 20px;
  background-image:url(IMAGENES/imgDescripcion.webp);
  background-size: contain;
}

.listaImg{
  width: 40%;
  margin: 0;
  padding-top: 5%;
  float: left;
}

.listaImgCenter{
  padding-left: 29%;
}

.listaImg p{
  margin-top: 8px;
  margin-left: 53px;
  font-size: 19px;
}

.imgList{
  float: left;;
  width: 2em;
}

/*Estilos para el formato de contenido*/

.contenido{
  width: 40%;
  margin: auto;
  padding-top: 3%;
}

.contenido p{
  font-size: 21px;
  padding-left: 40%;
  text-align: justify;
}

.contenido h2{
  padding-left: 50%;
  font-size: 26px;
  text-align: center;
}


/*Estilos para el formato del pie de pagina*/

.piePagina{
  padding-top: 50px;
  text-align: center;
  color: #00B3A4;
}


/*Estilos para la pagina de contacto*/

.datos{
  width: 100%;
  height: 200px;
  float: left;
  margin-bottom: 20%;
}
.redes{
  width: 45%;
  margin: 0;
  margin-left: 4%;
  padding: 0;
  float: left;
  height: 438px;
  background-image: url(IMAGENES/redesSocialesFondo.webp);
}

.datos .redes p, h1{

  margin-bottom: 30px;
  text-align: center;
  color: #00B3A4;
  padding-right: 17%;
}

.redes h1{
  padding-top:22% ;
  font-weight: normal;
  font-size: 3em;
}

.listaRedes{
  margin-top: 10px;
  margin-left: 12px;
}

.imagen1{
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(IMAGENES/facebook.png);
  width: 60px;
  height: 60px;
  padding-right:20px;
  float: left;
}

.imagen1:hover{
  background-image: url(IMAGENES/facebookSInFondo.png);
}

.imagen2{
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(IMAGENES/gmail.png);
  width: 60px;
  height: 60px;
  margin: 0;
  padding-right:20px;
  float: left;
}


.imagen2:hover{
  background-image: url(IMAGENES/gmailSinfondo.png);
}
.imagen3{
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(IMAGENES/instagram.png);
  width: 60px;
  height: 60px;
  margin: 0;
  padding-right:20px;
  float: left;
}

.imagen3:hover{
  background-image: url(IMAGENES/instagramSinfondo.png);
}

.imagen4{
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(IMAGENES/twitter.png);
  width: 60px;
  height: 60px;
  margin: 0;
  padding-right:20px;
  float: left;
}


.imagen4:hover{
  background-image: url(IMAGENES/gorjeo.png);
}

.redessociales{
  padding-left:25%;
  padding-right:6px;
}


.logos img{
  width: 50%;
  padding-top:18% ;
  padding-left:25% ;
}

.logos{
  width: 45%;
  height: 438px;
  margin: 0;
  margin-right: 4%;
  padding: 0;
  float: left;
  background-image: url(IMAGENES/fondoNegroBurbujas.webp);
}



/*Configuracion de descripcion para ser responsiva*/
@media (min-width: 900px) and (max-width: 1380px)  {
  .descripcion{
    background-image: url(IMAGENES/fondeDescripcion.png);
  }

  /* Configuracion de la pagina contacto*/

  .datos{
    margin-bottom: 70px;
    height: 80%;
  }

  .datos .redes p, h1 {
    padding-right: 0;
  }


  .redes{
    width: 80%;
    float: none;
    margin: auto;
    margin-bottom: 40px;
  }

  .redessociales{
    width: 100%;
    padding-left:35%;
    padding-right:0px;
  }

  .logos{
    width: 80%;
    float: none;
    margin: auto;
    background-repeat: no-repeat;
    background-size: 100%;
  }


}

@media (min-width: 650px) and (max-width: 900px)  {

  .descripcion{
    background-image: url(IMAGENES/fondeDescripcion.png);
  }


  /* Configuracion de la pagina contacto*/
  .datos{
    margin-bottom: 70px;
    height: 80%;
  }

  .datos .redes p, h1 {
    padding-right: 0;
  }


  .redes{
    width: 80%;
    float: none;
    margin: auto;
    margin-bottom: 40px;
  }

  .redessociales{
    width: 100%;
    padding-left:25%;
    padding-right:0px;
  }

  .logos{
    width: 80%;
    float: none;
    margin: auto;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  /* Configuracion de la pagina descripcion*/

  .listaImg{
    width: 100%;
    height: 50%;
    margin-bottom: 10%;
    padding-top: 5%;
    float: none;
  }

  .contenido{
    background-image: url(IMAGENES/fondeDescripcion.png);
    width: 100%;
    height: 50%;
    margin-top: 150px;
    margin-bottom: 150px;
    float: none;
  }

  .contenido p{
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
  }

  .contenido h2{
    padding-left: 5%;
    padding-right: 5%;
  }

  .piePagina{
    margin-top: 200px;
  }

}



@media (min-width: 410px) and (max-width: 650px)  {
  .descripcion{
    width: 100%;
    height: 500px;
    background-image: none;
    margin-top: 0;
  }


  /* Configuracion de la pagina contacto*/
  .datos{
    margin-bottom: 9px;
    height: 800px;
  }

  .datos .redes p, h1 {
    padding-right: 0;

  }
  .datos .redes h1 {
    font-size: 2em;
  }

  .datos .redes p{
    font-size: 1em;
  }

  .imagen1,.imagen2,.imagen3,.imagen4{
    width: 45px;
    height: 45px;
    padding-right: 10px;
    float: left;
  }



  .redes{
    width: 80%;
    float: none;
    margin: auto;
    margin-bottom: 40px;
  }

  .redessociales{
    width: 100%;
    padding-left:30%;
    padding-right:29%;
  }

  .logos{
    width: 80%;
    float: none;
    margin: auto;
    margin-bottom: 1px;
    background-repeat: no-repeat;
    background-size: 100%;
  }


  /* Configuracion de la pagina descripcion*/

  .listaImgCenter{
    padding-left: 19%;
    padding-bottom: 50px;
  }

  .listaImg{
    background-image: url(IMAGENES/fondeDescripcion.png);
    width: 100%;
    padding-top: 5%;
    float: none;
    margin-bottom: 30px;
  }
  .listaImg p{
    margin-top: 19px;
    margin-left: 53px;
    margin-bottom: 30px;
    font-size: 15px;
  }

  .contenido{
    background-image: url(IMAGENES/fondeDescripcion.png);
    width: 100%;
    float: none;
    padding-bottom: 50px;
  }

  .contenido p{
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
    font-size: 16px;
  }

  .contenido h2{
    font-size: 17px;
    padding-left: 5%;
    padding-right: 5%;
  }

  .piePagina{
    margin-top: 0px;
  }
}



@media (min-width: 220px) and (max-width: 410px)  {

  /* Configuracion de la pagina contacto*/
  .datos{
    margin-bottom: 9px;
    height: 710px;
  }

  .datos .redes p, h1 {
    padding-right: 0;

  }
  .datos .redes h1 {
    font-size: 1.5em;
  }

  .redes h1{
    padding-top: 33%;
  }

  .datos .redes p{
    font-size: .8em;
  }

  .imagen1,.imagen2,.imagen3,.imagen4{
    width: 45px;
    height: 45px;
    padding-right: 40px;
    margin-bottom: 15px;
    float: none;
  }



  .redes{
    width: 80%;
    float: none;
    margin: auto;
    margin-bottom: 40px;
  }

  .redessociales{
    width: 100%;
    padding-left:40%;
    padding-right:20%;
  }

  .logos{
    width: 80%;
    float: none;
    margin: auto;
    margin-bottom: 1px;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  /* Configuracion de la pagina descripcion*/
  .listaImgCenter{
    padding-left: 15%;
  }


  .descripcion{
    width: 100%;
    height: 480px;
    background-image: none;
  }


  .listaImgCenter{
    padding-left: 15%;
    padding-bottom: 50px;
  }

  .listaImg{
    background-image: url(IMAGENES/fondeDescripcion.png);
    width: 100%;
    padding-top: 5%;
    float: none;
    margin-bottom: 30px;
  }
  .listaImg p{
    margin-top: 19px;
    margin-left: 53px;
    margin-bottom: 30px;
    font-size: 15px;
  }

  .contenido{
    background-image: url(IMAGENES/fondeDescripcion.png);
    width: 100%;
    float: none;
    padding-bottom: 50px;
  }

  .contenido p{
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
    font-size: 16px;
  }

  .contenido h2{
    font-size: 17px;
    padding-left: 5%;
    padding-right: 5%;
  }

  .piePagina{
    margin-top: 37%;
  }


}


@media (max-width: 220px)  {


  /* Configuracion de la pagina contacto*/
  .datos{
    margin-bottom: 9px;
    height: 600px;
  }

  .datos .redes p, h1 {
    padding-right: 0;

  }
  .datos .redes h1 {
    font-size: 1em;
  }

  .redes h1{
    padding-top: 33%;
  }

  .datos .redes p{
    font-size: .5em;
  }

  .imagen1,.imagen2,.imagen3,.imagen4{
    width: 45px;
    height: 45px;
    padding-right: 40px;
    margin-bottom: 15px;
    float: none;
  }



  .redes{
    width: 80%;
    float: none;
    margin: auto;
    margin-bottom: 40px;
  }

  .redessociales{
    width: 100%;
    padding-left:35%;
    padding-right:20%;
  }

  .logos{
    width: 80%;
    height: 90px;
    float: none;
    margin: auto;
    margin-bottom: 1px;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  
  /* Configuracion de la pagina descripcion*/
  

  .listaImgCenter{
    padding-left: 15%;
  }


  .descripcion{
    width: 100%;
    height: 480px;
    background-image: none;
  }


  .listaImgCenter{
    padding-left: 15%;
    padding-bottom: 50px;
  }
  .listaImg p{
    margin-bottom: 30px;
  }

  .listaImg{
    background-image: url(IMAGENES/fondeDescripcion.png);
    width: 100%;
    padding-top: 5%;
    float: none;
    margin-bottom: 30px;
  }
  .listaImg p{
    margin-top: 19px;
    margin-left: 53px;
    font-size: 12px;
  }

  .contenido{
    background-image: url(IMAGENES/fondeDescripcion.png);
    width: 100%;
    float: none;
    padding-bottom: 50px;
  }

  .contenido p{
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
    font-size: 12px;
  }

  .contenido h2{
    font-size: 14px;
    padding-left: 5%;
    padding-right: 5%;
  }

  .piePagina{
    font-size: 14px;
    margin-top: 30%;
  }


}