/*primer aporte de el ptoyecto */

body{
  font-family: Serif;
  background-color: #1E2025;
  margin: 0;
}

/*Estilos para la barra de navegacion*/

.principal{
  padding-bottom: 20px;
}

.img img{
  margin-top: 40px;
  padding-left: 60px;
  width: 10em;

}

.opciones {
  height:50px;
  background-color: #26282d;
  margin-top: 20px;
}

.lista{
  padding-top: 20px;
  margin: 0;
  background-color: #26282d;
  list-style: none;
  display: flex;
  gap: 30px;
  letter-spacing: 1px;
  font-weight: 700;
}

.lista a{
  font-size: 14px;
  color: #FFFFFF;
  text-decoration: none;
}

/*Estilos para el apartado de descripcion*/

/*Estilos para el formato de listas con imagenes*/
.descripcion {
  height: 350px;
  margin-top: 40px;
  margin-bottom: 20px;
  background-image:url(IMAGENES/imgDescripcion.webp);
  background-size: contain;
}

.listaImg{
  width: 40%;
  margin: 0;
  padding-top: 5%;
  padding-left: 22%;
  float: left;
}

.listaImg p{
  margin-top: 8px;
  margin-left: 53px;
  font-size: 19px;
}

.imgList{
  float: left;;
  width: 2em;
}

/*Estilos para el formato de contenido*/

.contenido{
  margin: 0;
  padding-top: 3%;
  padding-right: 18%;
}

.contenido p{
  font-size: 21px;
  text-align: justify;
}

.contenido h2{
  font-size: 26px;
  text-align: center;
}


/*Estilos para el formato del pie de pagina*/

.piePagina{
  padding-top: 50px;
  text-align: center;
  color: #FFFFFF;
}