/*primer aporte de el ptoyecto */

body{
  font-family: Serif;
  background-color: #1E2025;
  margin: 0;
}

/*Estilos para la barra de navegacion*/

.principal{
  padding-bottom: 20px;
}

.img img{
  margin-top: 40px;
  padding-left: 60px;
  width: 10em;

}

.opciones {
  height:50px;
  background-color: #26282d;
  margin-top: 20px;
}

.lista{
  padding-top: 20px;
  margin: 0;
  background-color: #26282d;
  list-style: none;
  display: flex;
  gap: 30px;
  letter-spacing: 1px;
  font-weight: 700;
}

.lista a{
  font-size: 14px;
  color: #00B3A4;
  text-decoration: none;
}

.lista a:hover{
  color: #ffffff;
}


.lista a:active{
  color: #ffffff;
}



/*Estilos para el apartado de descripcion*/

/*Estilos para el formato de listas con imagenes*/
.descripcion {
  height: 350px;
  margin-top: 40px;
  margin-bottom: 20px;
  background-image:url(IMAGENES/imgDescripcion.webp);
  background-size: contain;
}

.listaImg{
  width: 40%;
  margin: 0;
  padding-top: 5%;
  padding-left: 22%;
  float: left;
}

.listaImg p{
  margin-top: 8px;
  margin-left: 53px;
  font-size: 19px;
}

.imgList{
  float: left;;
  width: 2em;
}

/*Estilos para el formato de contenido*/

.contenido{
  margin: 0;
  padding-top: 3%;
  padding-right: 18%;
}

.contenido p{
  font-size: 21px;
  text-align: justify;
}

.contenido h2{
  font-size: 26px;
  text-align: center;
}


/*Estilos para el formato del pie de pagina*/

.piePagina{
  padding-top: 50px;
  text-align: center;
  color: #00B3A4;
}



/*Estilos para la pagina de contacto*/

.datos{
  width: 100%;
  height: 200px;
  float: left;
  margin-bottom: 20%;
}
.redes{
  width: 45%;
  margin: 0;
  margin-left: 4%;
  padding: 0;
  float: left;
  height: 438px;
  background-image: url(IMAGENES/redesSocialesFondo.webp);
}

.datos .redes p, h1{

  text-align: center;
  color: #00B3A4;
  padding-right: 17%;
}

.redes h1{
  padding-top:22% ;
  font-weight: normal;
  font-size: 3em;
}

.listaRedes{
  margin-top: 10px;
  margin-left: 12px;
}

.imagen1{
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(IMAGENES/facebook.png);
  width: 60px;
  height: 60px;
  padding-right:20px;
  float: left;
}

.imagen1:hover{
  background-image: url(IMAGENES/facebookSInFondo.png);
}

.imagen2{
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(IMAGENES/gmail.png);
  width: 60px;
  height: 60px;
  margin: 0;
  padding-right:20px;
  float: left;
}


.imagen2:hover{
  background-image: url(IMAGENES/gmailSinfondo.png);
}
.imagen3{
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(IMAGENES/instagram.png);
  width: 60px;
  height: 60px;
  margin: 0;
  padding-right:20px;
  float: left;
}

.imagen3:hover{
  background-image: url(IMAGENES/instagramSinfondo.png);
}

.imagen4{
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(IMAGENES/twitter.png);
  width: 60px;
  height: 60px;
  margin: 0;
  padding-right:20px;
  float: left;
}


.imagen4:hover{
  background-image: url(IMAGENES/gorjeo.png);
}

.redessociales{
  padding-left:25%;
  padding-right:6px;
}


.logos img{
  width: 50%;
  padding-top:18% ;
  padding-left:25% ;
}

.logos{
  width: 45%;
  height: 438px;
  margin: 0;
  margin-right: 4%;
  padding: 0;
  float: left;
  background-image: url(IMAGENES/fondoNegroBurbujas.webp);
}