body{
    background-color: #15212a;
}
.genim{
    text-align: center;
}

.imggeneral{
    width: 800px;
    height: 550px;
}
.text{
    display: flex;
    justify-content: center;
    text-transform: none;
    align-items: center;
    color: white;
    
}
.primeraimagen{
    text-align: left;
}
.izquierda{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    
    padding-top: 10px;
}

.segundaimagen{
    text-align: right;
}
.derecha{
    width: 400px;
    margin-left: auto;
    margin-right: auto;

    padding-top: 10px;
}
.terceraimagen{
    text-align: left;
}
.izquierda2{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    
    padding-top: 10px;
}
.cuartaimagen{
    text-align: right;
}
.derecha2 {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    
    padding-top: 10px;
}

p {
    text-emphasis-color: white;
}
br{
    text-decoration-color: white;
}