body{
    font-family: Serif;
    background-color: #1E2025;
    margin: 0;
}

body{
    background-color: #15212a;
    background-image: url(IMAGENES/fondo.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

  
/*Estilos para la barra de navegacion*/
  
.principal{
    padding-bottom: 20px;
}
  
.img img{
    margin-top: 40px;
    padding-left: 60px;
    width: 10em;
  
}
  
.opciones {
    height:50px;
    background-color: #26282d;
    margin-top: 20px;
}
  
.lista{
    padding-top: 20px;
    margin: 0;
    background-color: #26282d;
    list-style: none;
    display: flex;
    gap: 30px;
    letter-spacing: 1px;
    font-weight: 700;
} 
.lista a{
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
}
.logo{
    width: 100px;
    height: 80px;

}

/*parte equipo*/

.imggeneral{
    position: relative;
    left: 0.5%;
    width: 970px;
    height: auto;
    top: 3px;
}

/*extra*/
.box {
    position: relative;
    --border-size: 3px;
    --border-angle: 0turn;
    width: 980px;
    height: 437px;
    left: 12%;
    background-image: conic-gradient(from var(--border-angle), #213, #112 50%, #213), conic-gradient(from var(--border-angle), transparent 20%, #08f, #f03);
    background-size: calc(100% - (var(--border-size) * 2)) calc(100% - (var(--border-size) * 2)), cover;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-animation: bg-spin 3s linear infinite;
            animation: bg-spin 3s linear infinite;
  }
  @-webkit-keyframes bg-spin {
    to {
      --border-angle: 1turn;
    }
  }
  @keyframes bg-spin {
    to {
      --border-angle: 1turn;
    }
  }
  .box:hover {
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
  }
  
  @property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
  }
  

.genim{
    position: relative;
    color: white;
    text-align:end;
}

.text{
    position: relative;
    right: 75%;
    top: 5px;
}
.textdos{
    position: relative;
    right: 55%;
}
.texttres{
    position: relative;
    right: 30%;
    top: -70px;
}
.textcuatro{
    position: relative;
    right: 15%;
    top: -215px;
}

section{
    display: flex;
    position: relative;
    left:  28%;
    width: 600px;
    height: 430px;
}
section img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}
section img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

.box1{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    position: relative;
    width: 980px;
    height: 150px;
    background:#1E2025;
    top: -18px;
    left: 12%;
}
    
.box2{
    position: relative;
    width: 1300px;
    height: 150px;
    background:#1E2025;
    top: 25px;
    
}

.final{
    color: white;
    position: relative;
    text-align: center;
    top: 5px;
}
.copyr{
    position: relative;
    top: 70px;
}