body{
    font-family: Serif;
    background-color: #1E2025;
    margin: 0;
}

body{
    background-color: #15212a;
    background-image: url(IMAGENES/fondo.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

  
/*Estilos para la barra de navegacion*/
  
.principal{
    padding-bottom: 20px;
}
  
.img img{
    margin-top: 40px;
    padding-left: 60px;
    width: 10em;
  
}
  
.opciones {
    height:50px;
    background-color: #26282d;
    margin-top: 20px;
}
  
.lista{
    padding-top: 20px;
    margin: 0;
    background-color: #26282d;
    list-style: none;
    display: flex;
    gap: 30px;
    letter-spacing: 1px;
    font-weight: 700;
} 
.lista a{
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
}
.logo{
    width: 100px;
    height: 80px;

}

/*parte equipo*/

.imggeneral{
    position: relative;
    left: 12%;
    width: 980px;
    height: auto;
}

.genim{
    position: relative;
    color: white;
    text-align:end;
}

.text{
    position: relative;
    right: 75%;
    top: 5px;
}
.textdos{
    position: relative;
    right: 55%;
}
.texttres{
    position: relative;
    right: 30%;
    top: -70px;
}
.textcuatro{
    position: relative;
    right: 15%;
    top: -215px;
}

.box1{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    position: relative;
    width: 980px;
    height: 150px;
    background:#1E2025;
    top: -18px;
    left: 12%;
}
    
.box2{
    position: relative;
    width: 1300px;
    height: 150px;
    background:#1E2025;
    top: 25px;
    
}

.final{
    color: white;
    position: relative;
    text-align: center;
    top: 5px;
}
.copyr{
    position: relative;
    top: 70px;
}