/*primer aporte de el ptoyecto */

body{
    font-family: Serif;
    background-color: #1E2025;
    margin: 0;
}

.principal{
    padding-bottom: 20px;
}

.img img{
    margin-top: 40px;
    padding-left: 60px;
    width: 10em;

}

.opciones {
    height:50px;
    background-color: #26282d;
    margin-top: 20px;
}

.lista{
    padding-top: 20px;
    margin: 0;
    background-color: #26282d;
    list-style: none;
    display: flex;
    gap: 30px;
    letter-spacing: 1px;
    font-weight: 700;
    
}

.lista a{
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
}