body{
  font-family: Serif;
  background-color: #1E2025;
  margin: 0;
}

/*Estilos para la barra de navegacion*/

.principal{
  padding-bottom: 10px;
}

.img img{
  margin-top: 40px;
  padding-left: 60px;
  width: 10em;

}

.opciones {
  height:50px;
  background-color: #26282d;
  margin-top: 20px;
}

.lista{
  padding-top: 20px;
  margin: 0;
  background-color: #26282d;
  list-style: none;
  display: flex;
  gap: 30px;
  letter-spacing: 1px;
  font-weight: 700;
}

.lista a{
  font-size: 14px;
  color: #FFFFFF;
  text-decoration: none;
}

.logo{
  width: 100px;
  height: 80px;
}
/*2da parte*/

.fondo1{
  position: relative;
  left: 12%;
  top: 22px;
  width: 980px;
  height: 166px;
}
.tito{
  text-align: center;
  color: white;
  position: relative;
  left: 0%;
  top: -155px;
}

.tito p{
  position: relative;
  text-align: center;
}
.textuno{
  position: relative;
  color: black;
  top: -350px;
  left: 40%;
}
.box1{
  position: relative;
  width: 480px;
  height: 350px;
  background-color: #94b8c5;
  top: -115px;
  left: 12%;
}
.fottres{
  position: inherit;
  width: 480px;
  height: auto;
  flex-grow: 1;
  object-fit: cover;
  opacity: .12;
  transition: .5s ease;
}
.fottres:hover{
  cursor: crosshair;;
    opacity: 1;
    filter: contrast(120%);
}
.textdos{
  position: relative;
  color: black;
  top: 250px;
  left: -40%;
                transform: rotate(90deg);
}
.box2{
  position: relative;
  width: 480px;
  height: 361px;
  background-color: #fcfcf9;
  top: 383px;
  position: absolute;
  left: 50.6%;
}
.fotdos{
  position: inherit;
  width: 480px;
  height: 361px;
  flex-grow: 1;
  object-fit: cover;
  opacity: .12;
  transition: .5s ease;
}
.fotdos:hover{
  cursor: crosshair;;
    opacity: 1;
    filter: contrast(120%);
}
.texttres{
  position: relative;
  color: black;
  top: -350px;
  left: 10%;
}
.box3{
  position: relative;
  width: 480px;
  height: 360px;
  background-color: white;
  top: -90px;
  left: 12%;
}
.fotuno{
  position: inherit;
  width: 480px;
  height: 361px;
  flex-grow: 1;
  object-fit: cover;
  opacity: .12;
  transition: .5s ease;
}
.fotuno:hover{
  cursor: crosshair;;
    opacity: 1;
    filter: contrast(120%);
}
.textcuatro{
  position: relative;
  color: black;
  top: -250px;
  left: 10%;
}
.box4{
  position: relative;
  width: 480px;
  height: 360px;
  background-color: #fcfcf9;
  top: 759px;
  position: absolute;
  left: 50.6%;
}
.fotcuatro{
  width: 480px;
  height: 360px;
  flex-grow: 1;
  object-fit: cover;
  opacity: .12;
  transition: .5s ease;
}
.fotcuatro:hover{
  cursor: crosshair;;
    opacity: 1;
    filter: contrast(120%);
}
.f3{
  position: relative;
  width: 1290px;
  height: 555px;
  top: -60px;
}

.box8{
  position: relative;
  width: 1300px;
  height: 150px;
  background:#1E2025;
  top: 0px;
  
}

.final{
  color: white;
  position: relative;
  text-align: center;
  top: -25px;
}
.copyr{
  position: relative;
  top: 70px;
}