/*Cuerpo*/
html{
  background-color: #1E2025;
}

body{
  font-family: Serif;
  background-color: #1E2025;
  margin: 0;
  height: 100%;
  max-width: 2560px;
}

/*Pagina home*/

.home{
  width: 100%;
  height: 650px;
  float: left;
  margin-bottom: 3%;
  padding-top: 2%;
  padding-bottom: 4%;
  margin-top: 2%;
  background-color: #26282d;
}

.home1{
  width: 45%;
  margin: 0;
  margin-left: 4%;
  padding: 0;
  float: left;
  height: 100%;
  background-image: url(../Img/home1.webp);
  background-size: 100%;
  background-repeat: no-repeat;
}

.home1 img{
  width: 19%;
  padding-left: 75%;
}

.home1 h2{
  margin-bottom: 10px;
  text-align: left;
  color: #00B3A4;
  padding-right: 4%;
  padding-left: 4%;
}
.home1 p{
  padding-top: 3%;
  margin-bottom: 0px;
  text-align: left;
  color: #00B3A4;
  padding-right: 39%;
  padding-left: 4%;
}

.home2{
  width: 45%;
  height: 100%;
  margin: 0;
  margin-right: 4%;
  padding: 0;
  float: left;
  background-size: 100%;
  background-image: url(../Img/home2.webp);
  background-repeat: no-repeat;
}

.home2 h2{
  padding-top: 18%;
  margin-bottom: 10px;
  text-align: center;
  color: #00B3A4;
  padding-right: 4%;
  padding-left: 4%;
}
.home2 p{
  padding-top: 3%;
  margin-bottom: 0px;
  text-align: center;
  color: #00B3A4;
  padding-right: 14%;
  padding-left: 14%;
}


/*Fin de la configuracion de la pagina home*/

/*Estilos para el formato del pie de pagina*/

.piePagina{
  padding-top: 0px;
  text-align: center;
  color: #00B3A4;
  background-color: #1E2025;
}


/*Estilos para la barra de navegacion*/
.text-a {
  --bs-text-opacity: 1;
  color: #00B3A4 !important;
}

.text-a:hover{
  color: #ffffff !important;
}

.principal{
  padding-bottom: 10px;
  background-color: #1E2025;
}

.text-div{
  margin-left: 90%;
  background-color: #1E2025
}

.img img{
  margin-top: 40px;
  margin-bottom: 20px;
  padding-left: 20px;
  width: 10em;
}


/*------------------------------*/

/*Estilo Futuro*/
.cuerpoFuturo{
  width: 100%;
  height: 1253px;
}
.tituloF{
  height: 10%;
  background-image: url(https://static.wixstatic.com/media/11062b_f71f178b5f494268bf2f5420c4820ae3~mv2.jpg/v1/fill/w_1800,h_150,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/11062b_f71f178b5f494268bf2f5420c4820ae3~mv2.jpg);
}
.contenidofuturo{
  width: 100%;
  height: 90%;
}
.card1, .card2, .card3{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}
.card1{
  width: 100%;
  height: 33.33%;
  background-image: url(https://static.wixstatic.com/media/11062b_799acab976b94a2792fac42f75fe2cfe~mv2.jpg/v1/fill/w_1800,h_561,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/11062b_799acab976b94a2792fac42f75fe2cfe~mv2.jpg);
  
}
.card2{
  width: 100%;
  height: 33.33%;
  background-image: url(https://static.wixstatic.com/media/11062b_a37fe77cd79c4de48701b7ea61a58ca2~mv2.jpg/v1/fill/w_1800,h_565,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/11062b_a37fe77cd79c4de48701b7ea61a58ca2~mv2.jpg);
}
.card3{
  width: 100%;
  height: 33.33%;
  background-image: url(https://static.wixstatic.com/media/11062b_f0d303b2a52f49f0a0c77d49f58d7c25~mv2.jpg/v1/fill/w_1800,h_545,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/11062b_f0d303b2a52f49f0a0c77d49f58d7c25~mv2.jpg);
}
.informacionCard{
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.imgf3, .imgf2, .imgf1{
  width: 410px;
  margin: 35px;
  
}
.txt{
  margin: 150px;
}
.txtTituloF{
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 56px;
}
.txt1{
  color: #ffffff;
}
.txt2{
  color: #ffffff;
}
@media (min-width: 768px) {
  .contenidoIzquierdo{
    width: 33.33%;
    height: 100%;
    float: left;
  }
  .contenidoCentro{
    width: 33.33%;
    height: 100%;
    float:left;
  }
  .contenidoDerecho{
    width: 33.33%;
    height: 100%; 
    float: right;
  }
}
@media (min-width: 760px) and (max-width: 1024px)  {
  .imgf3, .imgf1{
    width: 100%;
    margin-top: 75px;
  }
  .imgf2{
    width: 100%;
    margin-top: 75px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .txt{
    margin: 50px;
  }
 
}
@media (min-width: 320px) and (max-width: 750px)  {
  .cuerpoFuturo{
    height: 1800px;
    width: 100%;
  }
  .card1{
    background-image: url(https://static.wixstatic.com/media/11062b_799acab976b94a2792fac42f75fe2cfe~mv2.jpg/v1/fill/w_400,h_508,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/11062b_799acab976b94a2792fac42f75fe2cfe~mv2.jpg);
    
  }
  .card2{
    background-image: url(https://static.wixstatic.com/media/11062b_a37fe77cd79c4de48701b7ea61a58ca2~mv2.jpg/v1/fill/w_1600,h_565,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/11062b_a37fe77cd79c4de48701b7ea61a58ca2~mv2.jpg);
    
  }
  .card3{
    background-image: url(https://static.wixstatic.com/media/11062b_f0d303b2a52f49f0a0c77d49f58d7c25~mv2.jpg/v1/fill/w_1600,h_545,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/11062b_f0d303b2a52f49f0a0c77d49f58d7c25~mv2.jpg);
  }
  .imgf3, .imgf2, .imgf1{
    margin:auto;
    width: 100%;
    float: right;
    
  }
  .txt, .txt1, .txt2, .txt3{
    margin: 50px;
    color: rgb(255, 255, 255);
    font-size: 13px;
  }
  .txtTituloF{
    font-size: 30px;
  }
 
}

/*Fin Estilo Futuro*/

/*Estilo Equipo*/
.cuerpoEquipo{
  width: 100%;
  height: 0px;
  background-color: #26282D;
}
.tituloE{
  width: 100%;
  height: 10%;
  
}
.contenidoEquipo{
  width: 100%;
  height: 90%;
}
.cardEquipo{
  width: 80%;
  background-color: #00000077;
  margin: auto;
}
.Integrante1, .Integrante2, .Integrante3, .Integrante4{
  width: 25%;
}
.ImgIntegrante{
  width: 100%;
}
.infoIntegrante{
  text-align: center;
  color: rgb(255, 255, 255);
}
@media (min-width: 769px) {
  .cuerpoEquipo{
    height: auto;
  }
  .integrantes{
    display: flex;
    position: relative;
    margin-top: 5%;
  }
  .Integrante1, .Integrante2, .Integrante3, .Integrante4{
    float: left;
  }
  .ImgIntegrante{
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .3s ease;
  }
  .ImgIntegrante:hover{
    cursor: crosshair;
    width: 110%;
    opacity: 1;
    filter: contrast(100%);
    border-color: white;

  }
}
@media (max-width: 768px) {
  .cuerpoEquipo{
    height: auto;
  }
  .Integrante1, .Integrante2, .Integrante3, .Integrante4{
    width: 100%;
  }
  .ImgIntegrante{
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .2s ease;
  }
  .ImgIntegrante:hover{
    cursor: crosshair;
    width: 110%;
    opacity: 1;
    filter: contrast(100%);
    border-color: white;
  }
}
/*Fin Estilo Equipo*/

/*Estilo Servicio*/
.cuerpoServicio{
  width: 100%;
  height: 0px;
  background-color: #26282D;
}
.contenedorServicio{
  height: 70%;
  width: 100%;
}
.cardx1{
  height: 30%;
  width: 100%;
  
}
.txtServicio{
  width: 100%;
  height: 10%;
}
.contenidoServicio{
  width: 100%;
  height: 90%;
}
.tituloS{
  width: 100%;
  height: 50%;
  text-align: center;
}
.parraServicio{
  width: 100%;
  height: 50%;
  text-align: center;
  color: rgb(255, 255, 255);

}
.cardx4{
  width: 90%;
  height: 90%;
}
.s1, .s2, .s3, .s4{
  width: 50%;
  
}
.s5{
  width: 100%;
  height: 100%;
}
.FS1, .FS2, .FS3, .FS4{
  height: 100%;
  width: 100%;
}
.FS5{
  width: 100%;
  height: 100%;
}

@media (min-width: 769px) {
  .cuerpoServicio{
    height: auto;
  }
  .contenedorServicio{
    width: auto;
    height: auto;
  }
  .conteArriba{
    width: 50%;
    height: 50%;
    float: left;
  }
  .conteAbajo{
    width: 50%;
    height: 50%;
    float: left;
  }
  .cardx1{
    height: auto;
    width: auto;
  }
  .cardx4{
    margin: 5%;
  }
  .s1, .s2, .s3, .s4{
      width: 25%;
      height: 25%;
      float: left;
  }    
}
/*
  .contenedorServicio{
    width: auto;
    height: auto;
    margin: 5%;
    background-color: #00B3A4;
  }
*/

@media (max-width: 768px) {
  .cuerpoServicio{
    height: auto;
  }
  .cardx1{
    width: auto;
    height: auto;
  }
  .s1, .s2, .s3, .s4{
    width: 100%;
    
}
}
/*Fin Estilo Servicio*/

/*Estilo Proyecto*/
.cuerpoProyectos{
  width: 100%;
  height: 0px;
  background-color: #26282D;
}
.tituloP{
  width: 100%;
  height: 20%;
}
.contenidoProyecto{
  width: 100%;
  height: 80%;
}
.cardsProyectos{
  width: 95%;
  height: 100%;
}
.cardP1, .cardP2, .cardP3{
  width: 100%;
  height: 100%;
}
.ftPro1, .ftPro2, .ftPro3{
  height: 94%;
}
.txtPro{
  color: aqua;
  font-size: 90%;
  text-align: justify;
}
@media (min-width: 769px) {
  .cuerpoProyectos{
    height: auto;
  }
  .cardsProyectos{
    margin: 5%;
    margin-top: -5%;
  }
  .cardP1, .cardP2, .cardP3{
    width: 33.33%;
    height: 33.33%;
    float: left;
  }
  .ftPro1, .ftPro2, .ftPro3{
    margin: 2%;
  }
}
@media (max-width: 768px) {
  .cuerpoProyectos{
    height: auto;
  }
  .ftPro{
    width: 100%;
  }
}
/*Fin Estilo Proyecto*/

/* Estilo rama fernando*/

/*Estilo Descipcion*/

.descripcion {
  height: 370px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-repeat: no-repeat;
  background-image:url(../Img/imgDescripcion.webp);
  background-size: 100%;
  background-color: #26282d;
}

.listaImg{
  width: 40%;
  margin: 0;
  padding-top: 5%;
  float: left;
}

.listaImgCenter{
  padding-left: 29%;
}

.listaImg p{
  margin-top: 8px;
  margin-left: 53px;
  font-size: 19px;
}

.imgList{
  float: left;;
  width: 2em;
}

/*Estilos para el formato de contenido*/

.contenido{
  width: 40%;
  margin: auto;
  padding-top: 3%;
  padding-bottom: 10%;
}

.contenido p{
  font-size: 21px;
  padding-left: 40%;
  text-align: justify;
}

.contenido h2{
  padding-left: 50%;
  font-size: 26px;
  text-align: center;
}


/*Estilos para la pagina de contacto*/

.datos{
  width: 100%;
  height: 500px;
  float: left;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-bottom: 8%;
  background-color: #26282d;
}
.redes{
  width: 45%;
  margin: 0;
  margin-left: 4%;
  padding: 0;
  float: left;
  height: 438px;
  color: #00B3A4;
  background-image: url(../Img/redesSocialesFondo.webp);
}

.datos .redes p, h1 {

  margin-bottom: 30px;
  text-align: center;
  color: #00B3A4;
  padding-right: 17%;
}

.redes h1{
  padding-top:22% ;
  font-weight: normal;
  font-size: 3em;
}

.listaRedes{
  margin-top: 10px;
  margin-left: 12px;
}

.imagen1{
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../Img/facebook.png);
  width: 60px;
  height: 60px;
  padding-right:20px;
  float: left;
}

.imagen1:hover{
  background-image: url(../Img/facebookSInFondo.png);
}

.imagen2{
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../Img/gmail.png);
  width: 60px;
  height: 60px;
  margin: 0;
  padding-right:20px;
  float: left;
}


.imagen2:hover{
  background-image: url(../Img/gmailSinfondo.png);
}
.imagen3{
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../Img/instagram.png);
  width: 60px;
  height: 60px;
  margin: 0;
  padding-right:20px;
  float: left;
}

.imagen3:hover{
  background-image: url(../Img/instagramSinfondo.png);
}

.imagen4{
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../Img/twitter.png);
  width: 60px;
  height: 60px;
  margin: 0;
  padding-right:20px;
  float: left;
}


.imagen4:hover{
  background-image: url(../Img/gorjeo.png);
}


.imagen1,.imagen2,.imagen3,.imagen4{
  padding-left: 50px;
  padding-bottom: 20px;
}

.redessociales{
  padding-left:25%;
  padding-right:6px;
}


.logos img{
  width: 70%;
  padding-top:18% ;
  padding-left:25% ;
}

.logos{
  width: 45%;
  height: 438px;
  margin: 0;
  margin-right: 4%;
  padding: 0;
  float: left;
  background-repeat: no-repeat;
  background-image: url(../Img/fondoNegroBurbujas.webp);
}

/*Configuracion para hacer responsiva la pagina de descripcion y contacto f*/


/*Configuracion de descripcion para ser responsiva*/

@media (min-width: 900px) and (max-width: 1380px)  {
  .descripcion{
    background-image: url(../Img/fondeDescripcion.png);
  }

  /*Estilos de la pagina principal*/
  .home{
    margin-bottom: 70px;
    height: 80%;
  }

  .home1{
    width: 80%;
    height: 700px;
    float: none;
    margin: auto;
    margin-bottom: 10px;
  }
  .home2{
    width: 80%;
    height: 700px;
    float: none;
    margin: auto;
    margin-bottom: 10px;
  }

  .home2 h2{
    padding-top: 19%;
    margin-bottom: 30px;
    text-align: center;
    color: #00B3A4;
    padding-right: 4%;
    padding-left: 4%;
  }


  .home2 p{
    padding-top: 2%;
    margin-bottom: 0px;
    text-align: center;
    color: #00B3A4;
    padding-right: 14%;
    padding-left: 14%;
  }


  /* Configuracion de la pagina contacto*/

  .datos{
    margin-bottom: 70px;
    height: 80%;
  }

  .datos .redes p, h1 {
    padding-right: 0;
  }


  .redes{
    width: 80%;
    float: none;
    margin: auto;
    margin-bottom: 40px;
  }

  .redessociales{
    width: 100%;
    padding-left:35%;
    padding-right:0px;
  }

  .logos img{
    width: 65%;
    padding-top:18% ;
    padding-left:25% ;
  }

  .logos{
    width: 80%;
    float: none;
    margin: auto;
    background-repeat: no-repeat;
    background-size: 100%;
  }


}

@media (min-width: 650px) and (max-width: 900px)  {

  .descripcion{
    height: 650px;
    background-image: url(../Img/fondeDescripcion.png);
  }

  /*Estilos de la pagina principal*/
  .home{
    margin-top: 0;
    margin-bottom: 70px;
    height: 80%;
  }

  .home1{
    width: 80%;
    height: 400px;
    float: none;
    margin: auto;
    margin-bottom: 10px;
  }
  .home2{
    width: 80%;
    height: 400px;
    float: none;
    margin: auto;
    margin-bottom: 10px;
  }

  .home2 h2{
    padding-top: 19%;
    margin-bottom: 30px;
    text-align: center;
    color: #00B3A4;
    padding-right: 4%;
    padding-left: 4%;
  }


  .home2 p{
    padding-top: 2%;
    margin-bottom: 0px;
    text-align: center;
    color: #00B3A4;
    padding-right: 14%;
    padding-left: 14%;
  }



  /* Configuracion de la pagina contacto*/
  .datos{
    margin-bottom: 70px;
    height: 80%;
  }

  .datos .redes p, h1 {
    padding-right: 0;
  }


  .redes{
    width: 80%;
    float: none;
    margin: auto;
    margin-bottom: 40px;
  }

  .redessociales{
    width: 100%;
    padding-left:25%;
    padding-right:0px;
  }

  .logos{
    width: 80%;
    float: none;
    margin: auto;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  /* Configuracion de la pagina descripcion*/

  .listaImg{
    width: 100%;
    height: 50%;
    margin-bottom: 10%;
    padding-top: 5%;
    float: none;
  }

  .contenido{
    background-image: url(../Img/fondeDescripcion.png);
    width: 100%;
    height: 200px;
    float: none;
  }

  .contenido p{
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
  }

  .contenido h2{
    padding-left: 5%;
    padding-right: 5%;
  }

  .piePagina{
    padding-top: 2%;
  }

}



@media (min-width: 410px) and (max-width: 650px)  {
  .descripcion{
    width: 100%;
    height: 600px;
    background-image: none;
    margin-top: 0;
    padding-bottom: 2%;
  }

  /*Barra de navegacion*/
  .text-div{
    margin-left: 85%;
    background-color: #1E2025
  }


  /*Estilos de la pagina principal*/
  .home{
    margin-top: 0;
    margin-bottom: 70px;
    height: 80%;
  }

  .home1{
    width: 80%;
    height: 300px;
    float: none;
    margin: auto;
    margin-bottom: 10px;
  }
  .home2{
    width: 80%;
    height: 300px;
    float: none;
    margin: auto;
    margin-bottom: 10px;
  }


  .home1 h2{
    font-size: 1.3em;
  }

  .home1 p{
    font-size: 1em;
  }

  .home2 h2{
    padding-top: 19%;
    margin-bottom: 30px;
    text-align: center;
    color: #00B3A4;
    padding-right: 4%;
    padding-left: 4%;
    font-size: 1.3em;
  }


  .home2 p{
    padding-top: 2%;
    margin-bottom: 0px;
    text-align: center;
    color: #00B3A4;
    padding-right: 14%;
    padding-left: 14%;
    font-size: 1em;
  }




  /* Configuracion de la pagina contacto*/
  .datos{
    margin-bottom: 9px;
    height: 800px;
  }

  .datos .redes p, h1 {
    padding-right: 0;

  }
  .datos .redes h1 {
    font-size: 2em;
  }

  .datos .redes p{
    font-size: 1em;
  }

  .imagen1,.imagen2,.imagen3,.imagen4{
    width: 45px;
    height: 45px;
    margin-left: 40%;
    float: none;
  }



  .redes{
    width: 80%;
    float: none;
    margin: auto;
    margin-bottom: 40px;
  }

  .redessociales{
    width: 100%;
    padding-left:30%;
    padding-right:29%;
  }

  .logos{
    width: 80%;
    float: none;
    margin: auto;
    margin-bottom: 1px;
    background-repeat: no-repeat;
    background-size: 100%;
  }


  /* Configuracion de la pagina descripcion*/

  .listaImgCenter{
    padding-left: 19%;
    padding-bottom: 50px;
  }

  .listaImg{
    background-image: url(../Img/fondeDescripcion.png);
    width: 100%;
    padding-top: 5%;
    float: none;
    margin-bottom: 30px;
  }
  .listaImg p{
    margin-top: 19px;
    margin-left: 53px;
    margin-bottom: 30px;
    font-size: 15px;
  }

  .contenido{
    background-image: url(../Img/fondeDescripcion.png);
    width: 100%;
    float: none;
    padding-bottom: 50px;
  }

  .contenido p{
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
    font-size: 16px;
  }

  .contenido h2{
    font-size: 17px;
    padding-left: 5%;
    padding-right: 5%;
  }

  .piePagina{
    margin-top: 0px;
  }
}



@media (min-width: 220px) and (max-width: 410px)  {
  .text-div{
    margin-left: 74%;
    background-color: #1E2025
  }

  /*Estilos de la pagina principal*/
  .home{
    margin-top: 0;
    margin-bottom: 70px;
    height: 80%;
  }

  .home1{
    width: 80%;
    height: 240px;
    float: none;
    margin: auto;
    margin-bottom: 10px;
  }
  .home2{
    width: 80%;
    height: 240px;
    float: none;
    margin: auto;
    margin-bottom: 10px;
  }


  .home1 h2{
    font-size: 1em;
  }

  .home1 p{
    font-size: 0.6em;
    padding-right: 5%;
    padding-left: 5%;
  }

  .home2 h2{
    padding-top: 19%;
    margin-bottom: 0px;
    text-align: center;
    color: #00B3A4;
    padding-right: 4%;
    padding-left: 4%;
    font-size: 1em;
  }


  .home2 p{
    padding-top: 2%;
    margin-bottom: 0px;
    text-align: center;
    color: #00B3A4;
    padding-right: 5%;
    padding-left: 5%;
    font-size: 0.6em;
  }



  /* Configuracion de la pagina contacto*/
  .datos{
    margin-bottom: 9px;
    height: 710px;
  }

  .datos .redes p, h1 {
    padding-right: 0;

  }
  .datos .redes h1 {
    font-size: 1.5em;
  }

  .redes h1{
    padding-top: 33%;
  }

  .datos .redes p{
    font-size: .8em;
  }

  .imagen1,.imagen2,.imagen3,.imagen4{
    width: 45px;
    height: 45px;
    padding-right: 40px;
    margin-bottom: 15px;
    float: none;
  }



  .redes{
    width: 80%;
    float: none;
    margin: auto;
    margin-bottom: 40px;
  }

  .redessociales{
    width: 100%;
    padding-left:40%;
    padding-right:20%;
  }

  .logos{
    width: 80%;
    float: none;
    margin: auto;
    margin-bottom: 1px;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  /* Configuracion de la pagina descripcion*/

  .listaImgCenter{
    padding-left: 15%;
  }


  .descripcion{
    width: 100%;
    height: 630px;
    background-image: none;
  }


  .listaImgCenter{
    padding-left: 15%;
    padding-bottom: 50px;
  }

  .listaImg{
    background-image: url(../Img/fondeDescripcion.png);
    width: 100%;
    padding-top: 5%;
    float: none;
    margin-bottom: 30px;
  }
  .listaImg p{
    margin-top: 19px;
    margin-left: 53px;
    margin-bottom: 30px;
    font-size: 15px;
  }

  .contenido{
    background-image: url(../Img/fondeDescripcion.png);
    width: 100%;
    float: none;
    padding-bottom: 50px;
  }

  .contenido p{
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
    font-size: 16px;
  }

  .contenido h2{
    font-size: 17px;
    padding-left: 5%;
    padding-right: 5%;
  }

  .piePagina{
    padding-top: 5%;
  }

}


@media (max-width: 220px)  {
  .text-div{
    margin-left: 60%;
    background-color: #1E2025
  }


  /*Estilos de la pagina principal*/
  .home{
    margin-top: 0;
    margin-bottom: 70px;
    height: 80%;
  }

  .home1{
    width: 80%;
    height: 150px;
    float: none;
    margin: auto;
    margin-bottom: 10px;
  }
  .home2{
    width: 80%;
    height: 150px;
    float: none;
    margin: auto;
    margin-bottom: 0px;
  }


  .home1 h2{
    font-size: 0.7em;
  }

  .home1 p{
    font-size: 0.3em;
    padding-right: 5%;
    padding-left: 5%;
  }

  .home2 h2{
    padding-top: 19%;
    margin-bottom: 0px;
    text-align: center;
    color: #00B3A4;
    padding-right: 4%;
    padding-left: 4%;
    font-size: 0.7em;
  }


  .home2 p{
    padding-top: 2%;
    margin-bottom: 0px;
    text-align: center;
    color: #00B3A4;
    padding-right: 5%;
    padding-left: 5%;
    font-size: 0.3em;
  }



  /* Configuracion de la pagina contacto*/
  .datos{
    margin-bottom: 9px;
    height: 600px;
  }

  .datos .redes p, h1 {
    padding-right: 0;

  }
  .datos .redes h1 {
    font-size: 1em;
  }

  .redes h1{
    padding-top: 33%;
  }

  .datos .redes p{
    font-size: .5em;
  }

  .imagen1,.imagen2,.imagen3,.imagen4{
    width: 45px;
    height: 45px;
    padding-right: 40px;
    margin-bottom: 15px;
    float: none;
  }



  .redes{
    width: 80%;
    float: none;
    margin: auto;
    margin-bottom: 40px;
  }

  .redessociales{
    width: 100%;
    padding-left:35%;
    padding-right:20%;
  }

  .logos{
    width: 80%;
    height: 90px;
    float: none;
    margin: auto;
    margin-bottom: 1px;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  
  /* Configuracion de la pagina descripcion*/
  

  .listaImgCenter{
    padding-left: 15%;
  }


  .descripcion{
    width: 100%;
    height: 610px;
    background-image: none;
  }


  .listaImgCenter{
    padding-left: 15%;
    padding-bottom: 50px;
  }
  .listaImg p{
    margin-bottom: 30px;
  }

  .listaImg{
    background-image: url(../Img/fondeDescripcion.png);
    width: 100%;
    padding-top: 5%;
    float: none;
    margin-bottom: 30px;
  }
  .listaImg p{
    margin-top: 19px;
    margin-left: 53px;
    font-size: 8px;
  }

  .contenido{
    background-image: url(../Img/fondeDescripcion.png);
    width: 100%;
    float: none;
    padding-bottom: 50px;
  }

  .contenido p{
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
    font-size: 12px;
  }

  .contenido h2{
    font-size: 14px;
    padding-left: 5%;
    padding-right: 5%;
  }

  .piePagina{
    font-size: 14px;
    padding-top: 10%;
  }


}
