/*Cuerpo*/
body{
  font-family: Serif;
  background-color: #1E2025;
  margin: 0;
}

/*Pagina home*/

.home{
  width: 100%;
  height: 450px;
  float: left;
  margin-bottom: 3%;
  padding-top: 2%;
  padding-bottom: 4%;
  margin-top: 2%;
  background-color: #26282d;
}

.home1{
  width: 45%;
  margin: 0;
  margin-left: 4%;
  padding: 0;
  float: left;
  height: 100%;
  background-image: url(../Img/home1.webp);
  background-size: 100%;
  background-repeat: no-repeat;
}

.home1 img{
  width: 19%;
  padding-left: 75%;
}

.home1 h2{
  margin-bottom: 10px;
  text-align: left;
  color: #00B3A4;
  padding-right: 4%;
  padding-left: 4%;
}
.home1 p{
  padding-top: 3%;
  margin-bottom: 0px;
  text-align: left;
  color: #00B3A4;
  padding-right: 39%;
  padding-left: 4%;
}



.home2{
  width: 45%;
  height: 100%;
  margin: 0;
  margin-right: 4%;
  padding: 0;
  float: left;
  background-size: 100%;
  background-image: url(../Img/home2.webp);
  background-repeat: no-repeat;
}

.home2 h2{
  margin-bottom: 10px;
  text-align: center;
  color: #00B3A4;
  padding-right: 4%;
  padding-left: 4%;
}
.home2 p{
  padding-top: 3%;
  margin-bottom: 0px;
  text-align: center;
  color: #00B3A4;
  padding-right: 14%;
  padding-left: 14%;
}


/*Fin de la configuracion de la pagina home*/

/*Estilos para el formato del pie de pagina*/

.piePagina{
  padding-top: 0px;
  text-align: center;
  color: #00B3A4;
}


/*Estilos para la barra de navegacion*/

.principal{
  padding-bottom: 20px;
}

.img img{
  margin-top: 40px;
  padding-left: 60px;
  width: 10em;

}

.opciones {
  height:50px;
  background-color: #26282d;
  margin-top: 20px;
}

.lista{
  padding-top: 20px;
  margin: 0;
  background-color: #26282d;
  list-style: none;
  display: flex;
  gap: 30px;
  letter-spacing: 1px;
  font-weight: 700;
}

.lista a{
  font-size: 14px;
  color: #00B3A4;
  text-decoration: none;
}

.lista a:hover{
  color: #ffffff;
}


.lista a:active{
  color: #ffffff;
}

/*------------------------------*/

/*Estilo Futuro*/
.cuerpoFuturo{
  width: 100%;
  height: 100%;
  max-width: 1824px;
}
.tituloF{
  height: 120px;

}
.txtTituloF{
  background-image: url(https://static.wixstatic.com/media/11062b_f71f178b5f494268bf2f5420c4820ae3~mv2.jpg/v1/fill/w_1600,h_150,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/11062b_f71f178b5f494268bf2f5420c4820ae3~mv2.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  position: relative;

  font-size: 56px;
  font-family: "playfair display";
  text-align: center;
  margin-top: auto;
  padding: 25px;
  color: rgb(255, 255, 255);
}
.txt{
  font-size: 18px;
  font-family: "playfair display", serif;
  line-height: 1.7;
}
.informacionCard{
  display: flex;
  align-items: center;
  height: 450px;
  width: 100%;
}
.contenidoIzquierdo{
  width: 35%;
  float: left;
  padding: 20px;
}
.contenidoCentro{
  float: center;
}
.contenidoDerecho{
  width: 35%;
  float: right;
  padding: 20px;
}
.card1{
  background-position: center center;
  background-image: url(https://static.wixstatic.com/media/11062b_799acab976b94a2792fac42f75fe2cfe~mv2.jpg/v1/fill/w_1600,h_561,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/11062b_799acab976b94a2792fac42f75fe2cfe~mv2.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  position: relative;
  box-sizing: border-box;
}
.txt1{ 
  color:rgb(255, 255, 255);
  width: 175.6px;
  height: 157.5px;
}
.card2{
  background-position: center center;
  background-image: url(https://static.wixstatic.com/media/11062b_a37fe77cd79c4de48701b7ea61a58ca2~mv2.jpg/v1/fill/w_1600,h_565,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/11062b_a37fe77cd79c4de48701b7ea61a58ca2~mv2.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  position: relative;
}
.txt2{
  color:rgb(255, 255, 255);
  width: 251.6px;
  height: 157.5px;
}
.card3{
  background-position: center center;
  background-image: url(https://static.wixstatic.com/media/11062b_f0d303b2a52f49f0a0c77d49f58d7c25~mv2.jpg/v1/fill/w_1600,h_545,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/11062b_f0d303b2a52f49f0a0c77d49f58d7c25~mv2.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  position: relative;
}
.txt3{
  color:rgb(0, 0, 0);
  margin-top: 75px;
  width: 251.6px;
  height: 157.5px;
}
.img1{
  width: 402px;
}
.img2{
  width: 454px;
}
.img3{
  width: 454px;
}

@media only screen and (max-width : 912px){
  .txtTituloF{
      background-image: url(https://static.wixstatic.com/media/11062b_f71f178b5f494268bf2f5420c4820ae3~mv2.jpg/v1/fill/w_400,h_98,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/11062b_f71f178b5f494268bf2f5420c4820ae3~mv2.jpg);
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center;
      position: relative;

      font-size: 26px;
      font-family: "playfair display";
      text-align: center;
      margin-top: auto;
      color: rgb(255, 255, 255);
  }
  .card1{
      background-image: url(https://static.wixstatic.com/media/11062b_799acab976b94a2792fac42f75fe2cfe~mv2.jpg/v1/fill/w_400,h_508,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/11062b_799acab976b94a2792fac42f75fe2cfe~mv2.jpg);
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center center;
      position: relative;
      box-sizing: border-box;
  }
  .card2{
      background-position: center center;
      background-image: url(https://static.wixstatic.com/media/11062b_a37fe77cd79c4de48701b7ea61a58ca2~mv2.jpg/v1/fill/w_400,h_470,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/11062b_a37fe77cd79c4de48701b7ea61a58ca2~mv2.jpg);
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center;
      position: relative;
  }
  .card3{
      background-position: center center;
      background-image: url(https://static.wixstatic.com/media/11062b_f0d303b2a52f49f0a0c77d49f58d7c25~mv2.jpg/v1/fill/w_400,h_413,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/11062b_f0d303b2a52f49f0a0c77d49f58d7c25~mv2.jpg);
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center;
      position: relative;
  }
  .img1{
      width: 252px;
      float: left;
  }
  .img2{
      width: 304px;
      float: right;
  }
  .img3{
      width: 304px;
      float: left;
  }

}

@media only screen and (max-width : 430px){
  .txtTituloF{
      background-image: url(https://static.wixstatic.com/media/11062b_f71f178b5f494268bf2f5420c4820ae3~mv2.jpg/v1/fill/w_400,h_98,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/11062b_f71f178b5f494268bf2f5420c4820ae3~mv2.jpg);
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center;
      position: relative;

      font-size: 26px;
      font-family: "playfair display";
      text-align: center;
      margin-top: auto;
      color: rgb(255, 255, 255);
  }
  .card1{
      background-image: url(https://static.wixstatic.com/media/11062b_799acab976b94a2792fac42f75fe2cfe~mv2.jpg/v1/fill/w_400,h_508,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/11062b_799acab976b94a2792fac42f75fe2cfe~mv2.jpg);
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center center;
      position: relative;
  }
  .card2{
      background-position: center center;
      background-image: url(https://static.wixstatic.com/media/11062b_a37fe77cd79c4de48701b7ea61a58ca2~mv2.jpg/v1/fill/w_400,h_470,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/11062b_a37fe77cd79c4de48701b7ea61a58ca2~mv2.jpg);
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center;
      position: relative;
  }
  .card3{
      background-position: center center;
      background-image: url(https://static.wixstatic.com/media/11062b_f0d303b2a52f49f0a0c77d49f58d7c25~mv2.jpg/v1/fill/w_400,h_413,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/11062b_f0d303b2a52f49f0a0c77d49f58d7c25~mv2.jpg);
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center;
      position: relative;
  }
  .img1{
      width: 202px;
      
  }
  .img2{
      width: 01px;
      
  }
  .txt2{
      color:rgb(255, 255, 255);
      margin-bottom: 300px;
  }

  .img3{
      width: 254px;
      float: left;
  }
  .txt3{
      color:rgb(255, 255, 255);
      margin-bottom: 300px;
      margin-left: -100px   ;
  }
}
/*Fin Estilo Futuro*/

/* Estilo rama fernando*/

/*Estilo Descipcion*/

.descripcion {
  height: 350px;
  margin-top: 40px;
  margin-bottom: 20px;
  background-image:url(../Img/imgDescripcion.webp);
  background-size: contain;
}

.listaImg{
  width: 40%;
  margin: 0;
  padding-top: 5%;
  float: left;
}

.listaImgCenter{
  padding-left: 29%;
}

.listaImg p{
  margin-top: 8px;
  margin-left: 53px;
  font-size: 19px;
}

.imgList{
  float: left;;
  width: 2em;
}

/*Estilos para el formato de contenido*/

.contenido{
  width: 40%;
  margin: auto;
  padding-top: 3%;
}

.contenido p{
  font-size: 21px;
  padding-left: 40%;
  text-align: justify;
}

.contenido h2{
  padding-left: 50%;
  font-size: 26px;
  text-align: center;
}


/*Estilos para la pagina de contacto*/

.datos{
  width: 100%;
  height: 200px;
  float: left;
  margin-bottom: 20%;
}
.redes{
  width: 45%;
  margin: 0;
  margin-left: 4%;
  padding: 0;
  float: left;
  height: 438px;
  background-image: url(../Img/redesSocialesFondo.webp);
}

.datos .redes p, h1 {

  margin-bottom: 30px;
  text-align: center;
  color: #00B3A4;
  padding-right: 17%;
}

.redes h1{
  padding-top:22% ;
  font-weight: normal;
  font-size: 3em;
}

.listaRedes{
  margin-top: 10px;
  margin-left: 12px;
}

.imagen1{
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../Img/facebook.png);
  width: 60px;
  height: 60px;
  padding-right:20px;
  float: left;
}

.imagen1:hover{
  background-image: url(../Img/facebookSInFondo.png);
}

.imagen2{
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../Img/gmail.png);
  width: 60px;
  height: 60px;
  margin: 0;
  padding-right:20px;
  float: left;
}


.imagen2:hover{
  background-image: url(../Img/gmailSinfondo.png);
}
.imagen3{
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../Img/instagram.png);
  width: 60px;
  height: 60px;
  margin: 0;
  padding-right:20px;
  float: left;
}

.imagen3:hover{
  background-image: url(../Img/instagramSinfondo.png);
}

.imagen4{
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../Img/twitter.png);
  width: 60px;
  height: 60px;
  margin: 0;
  padding-right:20px;
  float: left;
}


.imagen4:hover{
  background-image: url(../Img/gorjeo.png);
}

.redessociales{
  padding-left:25%;
  padding-right:6px;
}


.logos img{
  width: 50%;
  padding-top:18% ;
  padding-left:25% ;
}

.logos{
  width: 45%;
  height: 438px;
  margin: 0;
  margin-right: 4%;
  padding: 0;
  float: left;
  background-image: url(../Img/fondoNegroBurbujas.webp);
}

/*Configuracion para hacer responsiva la pagina de descripcion y contacto f*/


/*Configuracion de descripcion para ser responsiva*/
@media (min-width: 900px) and (max-width: 1380px)  {
  .descripcion{
    background-image: url(../Img/fondeDescripcion.png);
  }

  /*Estilos de la pagina principal*/
  .home{
    margin-bottom: 70px;
    height: 80%;
  }

  .home1{
    width: 80%;
    float: none;
    margin: auto;
    margin-bottom: 40px;
  }
  .home2{
    width: 80%;
    float: none;
    margin: auto;
    margin-bottom: 40px;
    background-size: 80%;
  }

  /* Configuracion de la pagina contacto*/

  .datos{
    margin-bottom: 70px;
    height: 80%;
  }

  .datos .redes p, h1 {
    padding-right: 0;
  }


  .redes{
    width: 80%;
    float: none;
    margin: auto;
    margin-bottom: 40px;
  }

  .redessociales{
    width: 100%;
    padding-left:35%;
    padding-right:0px;
  }

  .logos{
    width: 80%;
    float: none;
    margin: auto;
    background-repeat: no-repeat;
    background-size: 100%;
  }


}

@media (min-width: 650px) and (max-width: 900px)  {

  .descripcion{
    background-image: url(../Img/fondeDescripcion.png);
  }


  /* Configuracion de la pagina contacto*/
  .datos{
    margin-bottom: 70px;
    height: 80%;
  }

  .datos .redes p, h1 {
    padding-right: 0;
  }


  .redes{
    width: 80%;
    float: none;
    margin: auto;
    margin-bottom: 40px;
  }

  .redessociales{
    width: 100%;
    padding-left:25%;
    padding-right:0px;
  }

  .logos{
    width: 80%;
    float: none;
    margin: auto;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  /* Configuracion de la pagina descripcion*/

  .listaImg{
    width: 100%;
    height: 50%;
    margin-bottom: 10%;
    padding-top: 5%;
    float: none;
  }

  .contenido{
    background-image: url(../Img/fondeDescripcion.png);
    width: 100%;
    height: 50%;
    margin-top: 150px;
    margin-bottom: 150px;
    float: none;
  }

  .contenido p{
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
  }

  .contenido h2{
    padding-left: 5%;
    padding-right: 5%;
  }

  .piePagina{
    margin-top: 200px;
  }

}



@media (min-width: 410px) and (max-width: 650px)  {
  .descripcion{
    width: 100%;
    height: 500px;
    background-image: none;
    margin-top: 0;
  }


  /* Configuracion de la pagina contacto*/
  .datos{
    margin-bottom: 9px;
    height: 800px;
  }

  .datos .redes p, h1 {
    padding-right: 0;

  }
  .datos .redes h1 {
    font-size: 2em;
  }

  .datos .redes p{
    font-size: 1em;
  }

  .imagen1,.imagen2,.imagen3,.imagen4{
    width: 45px;
    height: 45px;
    padding-right: 10px;
    float: left;
  }



  .redes{
    width: 80%;
    float: none;
    margin: auto;
    margin-bottom: 40px;
  }

  .redessociales{
    width: 100%;
    padding-left:30%;
    padding-right:29%;
  }

  .logos{
    width: 80%;
    float: none;
    margin: auto;
    margin-bottom: 1px;
    background-repeat: no-repeat;
    background-size: 100%;
  }


  /* Configuracion de la pagina descripcion*/

  .listaImgCenter{
    padding-left: 19%;
    padding-bottom: 50px;
  }

  .listaImg{
    background-image: url(../Img/fondeDescripcion.png);
    width: 100%;
    padding-top: 5%;
    float: none;
    margin-bottom: 30px;
  }
  .listaImg p{
    margin-top: 19px;
    margin-left: 53px;
    margin-bottom: 30px;
    font-size: 15px;
  }

  .contenido{
    background-image: url(../Img/fondeDescripcion.png);
    width: 100%;
    float: none;
    padding-bottom: 50px;
  }

  .contenido p{
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
    font-size: 16px;
  }

  .contenido h2{
    font-size: 17px;
    padding-left: 5%;
    padding-right: 5%;
  }

  .piePagina{
    margin-top: 0px;
  }
}



@media (min-width: 220px) and (max-width: 410px)  {

  /* Configuracion de la pagina contacto*/
  .datos{
    margin-bottom: 9px;
    height: 710px;
  }

  .datos .redes p, h1 {
    padding-right: 0;

  }
  .datos .redes h1 {
    font-size: 1.5em;
  }

  .redes h1{
    padding-top: 33%;
  }

  .datos .redes p{
    font-size: .8em;
  }

  .imagen1,.imagen2,.imagen3,.imagen4{
    width: 45px;
    height: 45px;
    padding-right: 40px;
    margin-bottom: 15px;
    float: none;
  }



  .redes{
    width: 80%;
    float: none;
    margin: auto;
    margin-bottom: 40px;
  }

  .redessociales{
    width: 100%;
    padding-left:40%;
    padding-right:20%;
  }

  .logos{
    width: 80%;
    float: none;
    margin: auto;
    margin-bottom: 1px;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  /* Configuracion de la pagina descripcion*/
  .listaImgCenter{
    padding-left: 15%;
  }


  .descripcion{
    width: 100%;
    height: 480px;
    background-image: none;
  }


  .listaImgCenter{
    padding-left: 15%;
    padding-bottom: 50px;
  }

  .listaImg{
    background-image: url(../Img/fondeDescripcion.png);
    width: 100%;
    padding-top: 5%;
    float: none;
    margin-bottom: 30px;
  }
  .listaImg p{
    margin-top: 19px;
    margin-left: 53px;
    margin-bottom: 30px;
    font-size: 15px;
  }

  .contenido{
    background-image: url(../Img/fondeDescripcion.png);
    width: 100%;
    float: none;
    padding-bottom: 50px;
  }

  .contenido p{
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
    font-size: 16px;
  }

  .contenido h2{
    font-size: 17px;
    padding-left: 5%;
    padding-right: 5%;
  }

  .piePagina{
    margin-top: 37%;
  }


}


@media (max-width: 220px)  {


  /* Configuracion de la pagina contacto*/
  .datos{
    margin-bottom: 9px;
    height: 600px;
  }

  .datos .redes p, h1 {
    padding-right: 0;

  }
  .datos .redes h1 {
    font-size: 1em;
  }

  .redes h1{
    padding-top: 33%;
  }

  .datos .redes p{
    font-size: .5em;
  }

  .imagen1,.imagen2,.imagen3,.imagen4{
    width: 45px;
    height: 45px;
    padding-right: 40px;
    margin-bottom: 15px;
    float: none;
  }



  .redes{
    width: 80%;
    float: none;
    margin: auto;
    margin-bottom: 40px;
  }

  .redessociales{
    width: 100%;
    padding-left:35%;
    padding-right:20%;
  }

  .logos{
    width: 80%;
    height: 90px;
    float: none;
    margin: auto;
    margin-bottom: 1px;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  
  /* Configuracion de la pagina descripcion*/
  

  .listaImgCenter{
    padding-left: 15%;
  }


  .descripcion{
    width: 100%;
    height: 480px;
    background-image: none;
  }


  .listaImgCenter{
    padding-left: 15%;
    padding-bottom: 50px;
  }
  .listaImg p{
    margin-bottom: 30px;
  }

  .listaImg{
    background-image: url(../Img/fondeDescripcion.png);
    width: 100%;
    padding-top: 5%;
    float: none;
    margin-bottom: 30px;
  }
  .listaImg p{
    margin-top: 19px;
    margin-left: 53px;
    font-size: 12px;
  }

  .contenido{
    background-image: url(../Img/fondeDescripcion.png);
    width: 100%;
    float: none;
    padding-bottom: 50px;
  }

  .contenido p{
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
    font-size: 12px;
  }

  .contenido h2{
    font-size: 14px;
    padding-left: 5%;
    padding-right: 5%;
  }

  .piePagina{
    font-size: 14px;
    margin-top: 30%;
  }


}
